* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


      .slids {
        width: 800px;
        height: 500px;
        background-color:#7ed95799;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        text-align: center;
        overflow: hidden;
        justify-content: center;
      }

      .img-container {
        width: 2400px;
        background-color: pink;
        height: 500px;
        clear: both;
        position: relative;
        -webkit-transition: left 3s;
        -moz-transition: left 3s;
        -o-transition: left 3s;
        transition: left 3s;
       


      
      }
      .slide {
        float: left;
        margin: 0px;
        padding: 10px;
        position: relative;
        width: 800px;
        height: 500px;
      }
      
      #slide-1:target ~ .img-container {
        left: 0px;
      }
      #slide-2:target ~ .img-container {
        left: -800px;
      }
      #slide-3:target ~ .img-container {
        left: -1600px;
      }
      .buttons {
        position: relative;
        top: -20px;
      }
      .buttons a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: lightgreen;
      }
      
      .logo {
        position: absolute;
        top: -50px;
        right: 10px;
        }
      .banner {
        background-color: black;
        height: 50px;
        top: 0px;
        position: relative;
        display: block;
        width: auto;
        
      }
     

nav {
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0);
  left:0px;
  top: 0px;
  
}

#hamburger {
  display:block
  left: 5px
}

.hamburger-icon {
  display: inline-block;
  position: absolute;
  padding-left: 10px;
  padding-right: 0px;
  top: -57px;
  left: -10px;

}

.hamburger-icon::before {
  content: url('../images/menu.png');
  
}
.nav-toggle {
  display: none;
  width: 100%;
  list-style-type:none;
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(255, 250, 250);
}

.nav-toggle li {
  width: 100%;
}

.nav-toggle a {
  display: inline-block;
  width: 100%;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-toggle a:hover {
  background-color: #7ed95761;
}

#hamburger:checked~.nav-toggle {
  display: flex;
  flex-direction: row;
font-size: 1.5625rem;
  text-align: center;
  font-family:'Franklin Gothic Medium';
}
  
.photo {
  background-image: url('../images/zebra-7075975_1280.png');
  display: block;
}
body{

  background-color: rgb(255, 255, 255);
}
section{
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin-top: 10px;
  background-image: url('../images/zebra-7075975_1280.png');
}
h2{color: rgb(244, 167, 180);
  font-style: oblique;
  text-align: center;
}
p{color: rgb(18, 17, 17);
  font-weight: bold;
  font-family:'Franklin Gothic Medium';
}

.first {
  order: 1;
  border-color: #7ed95761;
  width: 31%;
  height: 300px ;
  border-radius: 10%;
  margin-left: 20px;
  border-style: solid;
  border-width: 10px;
  background-color: #ffffffe7;
  text-align: center;
  text-indent: 1px;
  font-family:'Franklin Gothic Medium';
  
}

.second {
  order: 2;
  background-color: #ffffffe7;
  border-color: #7ed95799;
  border-style: solid;
  border-width: 10px;
  width: 31%;
  height: 300px ;
  border-radius: 10%;
  margin-left: 20px;
  text-align: center;
  text-indent: 1px;
  font-family:'Franklin Gothic Medium';
  
}

.third {
  order: 3;
  background-color: #ffffffe7;
  width: 31%;
  height: 300px ;
  border-radius: 10%;
  border-width: 10px; 
  border-style: solid;
  border-color:#7ed957dc;
  margin-left: 20px;
  text-align: center;
  text-indent: 1px;
  font-family:'Franklin Gothic Medium';

}
h1{
  color:#000000;
  margin-left: 330px;
  font-family:'Franklin Gothic Medium';
  font-size: 2.8125rem;

}
footer {
  margin-top: 20px;
  background-color: black; 
  display: flex;
  flex-wrap: wrap;
  font-family:'Franklin Gothic Medium';
  width: auto;
}

.map{
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

}
#contacts{
  margin-top: 5px;
  margin-left:240px;
  color: white;
  display: flex;
  font-family:'Franklin Gothic Medium';
  text-align: center;
 

}
.socmedia{
  
  margin-left:80%;
}
.fa {
  padding: 20px;
  font-size: 1.825rem;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background:#7ed95799;
  color: white;

}


.fa-linkedin {
  background: pink;
  color: white;
}
h5{
  font-size: 1.25rem;
  font-family:'Franklin Gothic ';
}
.icon1{
  margin-left: 0%;
  margin-top: 20px;
}


#timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
  font-family:'Franklin Gothic';
  
}
.card {
  position: relative;
  max-width: 700px;
}
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
.card::before {
  content: "";
  position: absolute;
  width: 70%;
  border: solid #7ed957dc
}

.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}
.info {
  display: flex;
  flex-direction: column;
  background: rgb(52, 50, 50);
  color: rgb(49, 47, 47);
  border-radius: 10px;
  padding: 10px;
}
.title {
  color: #7ed957dc;
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid pink;
}
.card:nth-child(even) > .info > .title {
  text-align: right;
}
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

main{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-top: 10px;
}
.timeline{
  width: 70%;
}
.secd{
  width:30%;
  margin-top: 200px;
  font-size: 2.8125rem;
  margin-left: 130px;
}
h7{
  font-weight: bold;
  color: #7ed957dc;
  margin-left: -65px;
  font-family:'Franklin Gothic Medium';
}
.hardskillsli li{
  text-align: center;
  list-style-type:none;
  border-style: double;
border-width: 5px;
background-color:#7ed957d9; 
border-radius: 5%;

  padding: 10px 10px 15px 15px;
  width: 300px;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  font-family:'Franklin Gothic Medium';
} 
ul{
  display: flex;
  flex-flow: column; 

}

h8 {font-weight: bold;
  color:#000000ce;
  font-weight: bold;
  font-size:1.875rem ;
  margin-top: 10px;
  margin-left: 65px;
  background-color: pink;
  font-family:'Franklin Gothic Medium';
}
#Skills1{
  order: 1;
  width: 25%;
  margin-left: 5px;
  

}   

table{ 
order:  2;
width:50%;
background-color: white;
background-size: 400px;
height: 550px;
margin-left: 65px;
margin-top: 30px;
font-family:'Franklin Gothic ';
font-size:  1.3rem;
border-style: double;
border-width: 5px;
border-color: #000000;
border-radius: 1%;



}
#Skills2 {
  order:3;
  width: 25%;
 float: right;
margin-left: 60px;
margin-right: 5px;

}
.Softskillsli li{
  text-align: center;
  list-style-type:none;
  border-style: double;
border-width: 5px;
background-color:#7ed957d9; 
border-radius: 5%;

  padding: 10px 10px 15px 15px;
  width: 300px;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  font-family:'Franklin Gothic Medium';
} 


aside{
  display: flex;
  flex-direction: row;
  width:auto;
  background-image: url('../images/zebra-7075975_1280.png');
  margin-top: 0px;
}
h9{
  color: pink;
}
h10{
  font-size:  3.3rem;
  background-color: #7ed957d9;
  color: #000000f1;
  font-family:'Franklin Gothic Medium';
  margin-left: 10%;
}
h11{
margin-left: 610px;
font-size: 2.5rem;
color:pink;
font-style: oblique;
font-weight: bold;
}
h12{
  color: pink;
  font-family:'Franklin Gothic Medium';
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  #hamburger:checked~.nav-toggle {
    display: flex;
    flex-direction: column;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  .slids{

      max-width: 100%;
      height: 100%;
      margin-left: 0%;
      margin-right: 0%;

  }
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
.img-container {
  max-width: auto;
  background-color: pink;
  max-height: auto; 
  height: 250px;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
.slide{
  width: 385px;
 height:250px;

}
    
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  #slide-1:target ~ .img-container {
    left: 0px;
  }
  #slide-2:target ~ .img-container {
    left: -385px;
  }
  #slide-3:target ~ .img-container {
    left: -770px;
  
  }
      
  }


@media screen  and (min-width: 300px) and  (max-width: 767px) {
  section {
    display: flex;
    flex-direction: column;
    margin-right: 0%;
    
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  .first{
  
  width: auto;
   height: 70%;
   margin-left: 2%;
  margin-right: 2%;


}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  .second{
  
  width: auto;
   height: 70%;
   margin-left: 2%;
   margin-right: 2%;

}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  .third{
  
  width: auto;
   height: 70%;
   margin-left: 2%;
   margin-right: 2%;

}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
   
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  aside {
    display: flex;
    flex-direction:row;
    margin-right: 0%;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  h1 {
    text-align: center;
    margin-left:5% ;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  h11{

    margin-left:32% ;
    font-size: 30px;
}
}

@media screen  and (min-width: 300px) and  (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 2%;
    margin-right: 2%;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  .secd {
    width: 50%;
    height: 50%;
    margin-left: 30%;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  h7 {
    
    margin-left: 17%;
    text-align: center;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  h1 {
    
    margin-left: 0%;
    text-align: center;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  h11 {
    
    margin-left: 25%;
    text-align: center;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  .icon2{
  display: none;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  .hamburger-icon {
  margin-top: 1%;
  margin-left: 0%;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  aside {
    
    display: flexbox;
    flex-wrap: wrap ;
    
    width: 100%;
}
}


@media screen  and (min-width: 300px) and  (max-width: 767px) {
  #Skills1   {
    order: 1;
    width: 100%;
    margin-right: 1%;
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  #Skills1 li  {
   
  width: 100%;
    
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  #Skills2 li  {
   
  width: 100%;
    
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  #Skills2  {
    order: 2;
    
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    border: #000000;
  
}
}
@media screen  and (min-width: 300px) and  (max-width: 767px) {
  h8  {
  margin-left: 35%;
}
ะช

@media screen  and (min-width: 300px) and  (max-width: 767px) {
  table {
    order: 3;
    width: 98%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: pink;
    border:rgb(10, 10, 10);
    border-style: solid;
    border-width: 5px;
} 
}
@media screen and (min-width: 300px) and  (max-width: 767px) {
  .map {
    display: none;
  }
  
  }
  @media screen and (min-width: 300px) and  (max-width: 767px) {
    .secd{
      margin-top: 0%;
      margin-left:12% ;
      background-color: pink;
      width: 80%;

     

}
  }
  @media screen and (min-width: 300px) and  (max-width: 767px) {
    h7{
      font-size: 80%;
      margin-left: 0%;

}
  }
  @media screen and (min-width: 300px) and  (max-width: 767px) {
    h10{
      font-size: 2.3rem;
      margin-left: 10%;

}
}
@media screen and (min-width: 300px) and  (max-width: 767px) {
  #contacts{
    margin-left: 2%;
    text-align: left;


}
}
@media screen and (min-width: 300px) and  (max-width: 767px) {
  .socmedia{
    margin-left: 25%;
  
}
}
@media screen and (min-width: 300px) and  (max-width: 767px) {
body {
width: auto;
}
}